lib
dist
accounts
koishi-plugin-paimon.wiki
.koishi-plugin-paimon.wiki

node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
tsconfig.tsbuildinfo

.eslintcache
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.env
.npmrc
koishi.yml
yakumo.yml
*.wiki
pakages